nav{
    padding: 10px;
}
nav ul{
    float:right;
    margin-right: 80px;
}

nav ul li{
    display: inline-block;
    line-height: 40px;
}

nav ul li a{
    padding: 7px 40px;
}

nav ul li a:hover{
    text-decoration: underline;
    text-decoration: solid;

}
nav label {
    line-height: 80px;
    padding: 0 80px;
    font-size: 35px;
    font-weight: bold;
}


button{
    background-color: inherit;
    color:inherit
}

/* FOR MENU */
@media (max-width: 1164px) {
    label{
        display: block;
    }

    nav{
        padding-bottom: 200px;
    }

    ul{
        width: 80%;
        text-align: center;
    }

    nav ul li{
        display: block;
    }

    nav ul li a{
        font-size: inherit;
    }

    nav ul li a:hover{
        text-decoration: underline;
        text-decoration: solid;
    
    }
}

/* for SPEECH BUTTON */

@media (max-width:1033px) {
    .button_class{
        float: right;
        margin-top: -120px;
    }
}

/* for COLORS and TEXT SIZE*/

@media (max-width:836px) {
    .background_color span{
        display: block;
        padding: 10px;
    }
    
    .text_color span{
        display: block;
        padding: 10px;
    }

}


h2{
    padding-top: 15px;
    text-align: center;
}

h3{
    text-align: left;
    padding-left: 50px;
}


h4{
    text-align: right;
    padding-right: 80px;
    font-size: inherit;
}

body{
    margin: 20px;
    background: grey;
    /* background-image: url('./hello.jpg'); */
}

/* Speech Button */
.button_class{
text-align: right;
padding-right: 200px;
overflow: hidden;
}

#speech_button{
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    border-color: inherit;
    border-radius: 10px;
    padding: 5px;
    position: fixed;
    cursor: pointer;
    overflow: hidden;
    font-family: inherit;
}


.background_color {
    padding-left: 80px;
}

.text_size{
    text-align: center;
}

.text_size #small{
   font-size: 17px ;
   cursor: pointer;
}

.text_size #medium{
    font-size: 22px;
    cursor: pointer;
}

.text_size #large{
    font-size: 30px;
    cursor: pointer;
}

.text_color{
    text-align: right;
    padding-right: 80px;
    padding-bottom: 10px;
}

    /* Colors */
#green{
   background-color: green;
   color: green;
   font-size: 2px;
   border-radius: 30px;
   padding: 15px;
   border:1.5px solid black;
   cursor: pointer;
}

#black{
    background:black;
    color: black;
    font-size: 2px;
    border-radius: 30px;
    padding: 15px;
    border:1.5px solid grey;
    cursor: pointer;
}

#white{
    background: white;
    color: white;
    font-size: 2px;
    border-radius: 30px;
    padding: 15px;
    border:1.5px solid black; 
    cursor: pointer;   
}
#brown{
    background:brown;
    color: brown;
    font-size: 2px;
    border-radius: 30px;
    padding: 15px;
    border:1.5px solid black; 
    cursor: pointer;
}
#grey{
    background:grey;
    color: grey;
    font-size: 2px;
    border-radius: 30px;
    padding: 15px;
    border:1.5px solid black; 
    cursor: pointer;
}
#red{
    background:red;
    color: red;
    font-size: 2px;
    border-radius: 30px;
    padding: 15px;
    border:1.5px solid black; 
    cursor: pointer;
}

#yellow{
    background:yellow;
    color: yellow;
    font-size: 2px;
    border-radius: 30px;
    padding: 15px;
    border:1.5px solid black; 
    cursor: pointer;
}

a{
    text-align: center;
    text-decoration: none;
    color: inherit;
}


                /*Grid*/
#grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    padding: 80px;
}

#grid-container > a{
    border: 2px solid;
    text-align: center;
    font-size: inherit;
    font-weight: bold;
    border-radius: 20px;
    padding: 35px;
}

#grid-container > div:hover{
    text-decoration: underline;
}

#grid-container > a:hover{
    text-decoration: underline;
}
                /* Order of Operations*/

.general_body{
    padding-left: 100px;
    padding-right: 100px;
    font-size: inherit;
    padding-bottom: 100px;
}

/* Quiz 1 */
.test1_operation{
    text-align: center;
}

.test1_operation #answer{
    text-align: left;
    padding-left: 23%;
}

.border1{
text-align: left;
width: 650px;
padding: 10px;
border: 2px solid ;
border-radius: 8px;
margin: auto;
}

input.checkbox{
    transform: scale(1.2);
}

.border1 button{
    color: inherit;
    font-size: 15px;
    border-radius: 8px;
    align-items: center;
}


.check_answers{
    text-align: left;
    width: 460px;
    padding: 10px;
    padding-left: 40px;
    border: 2px solid ;
    border-radius: 8px;
    margin: auto;
}

.test1_operation #check_answer{
    text-align: left;
    padding-left: 40%;

}