h1{
    text-align: center;
}

h3{
    text-align: center;
}


h4{
    text-align: right;
    padding-right: 100px;
}

body{
    margin: 0;
    padding: 0;
    background: grey;
    text-decoration: brown;

}

.text_color{
    padding: 1px;
    background:rgb(75, 20, 20);
    margin-left: 20px;
    box-sizing: 7px;
    
}

 .background_color{
    padding: 1px;
    background:rgb(75, 20, 20);
    margin-left: 20px;
}

/* .background_color{
    position: absolute;
    top:250px;
    right: 250px;
    padding: 20px;
    background: rebeccapurple;
    
} */

#green{
   background: green;
   color: green;
}
#black{
    background:black;
    color: black;
}
#white{
    background: white;
    color: white;
}
#brown{
    background:brown;
    color: brown;
}
#grey{
    background:grey;
    color: grey;
}
#red{
    background:red;
    color: red;
}

#blue{
    background:blue;
    color: blue;
}

#yellow{
    background:yellow;
    color: yellow;
}

a{
    text-align: center;
    text-decoration: none;
    color: inherit;
}

                /* Order of Operations*/

.operations_body{
    padding-left: 100px;
    padding-right: 100px;
    font-size: 20px;
    padding-bottom: 100px;
}

/* Quiz 1 */
.test1_operation{
    text-align: center;
}

.border1{
text-align: left;
width: 650px;
height: 350px;
padding: 10px;
border: 2px solid ;
border-radius: 8px;
margin: auto;
}

input.checkbox{
    transform: scale(1.2);
}

.border1 button{
    color: inherit;
    font-size: 15px;
    border-radius: 8px;
    align-items: center;
    display: flex;

    
}
