h1{
    padding-top: 15px;
    text-align: center;
}

h3{
    text-align: left;
    padding-left: 50px;
}


h4{
    text-align: right;
    padding-right: 100px;
    font-size: 20px;
}

body{
    margin: 0;
    padding: 0;
    background: grey;
    text-decoration: brown;

}


.text_color{
    text-align: right;
    padding-right: 95px;
    padding-bottom: 10px;
}

    /* Colors */
#green{
   background-color: green;
   color: green;
   font-size: 2px;
   border-radius: 30px;
   padding: 15px;
   border:1.5px solid black;
}

#black{
    background:black;
    color: black;
    font-size: 2px;
    border-radius: 30px;
    padding: 15px;
    border:1.5px solid grey;
}

#white{
    background: white;
    color: white;
    font-size: 2px;
    border-radius: 30px;
    padding: 15px;
    border:1.5px solid black;    
}
#brown{
    background:brown;
    color: brown;
    font-size: 2px;
    border-radius: 30px;
    padding: 15px;
    border:1.5px solid black; 
}
#grey{
    background:grey;
    color: grey;
    font-size: 2px;
    border-radius: 30px;
    padding: 15px;
    border:1.5px solid black; 
}
#red{
    background:red;
    color: red;
    font-size: 2px;
    border-radius: 30px;
    padding: 15px;
    border:1.5px solid black; 
}

#blue{
    background:blue;
    color: blue;
    font-size: 2px;
    border-radius: 30px;
    padding: 15px;
    border:1.5px solid black; 
}

#yellow{
    background:yellow;
    color: yellow;
    font-size: 2px;
    border-radius: 30px;
    padding: 15px;
    border:1.5px solid black; 
}

a{
    text-align: center;
    text-decoration: none;
    color: inherit;
}


                /*Grid*/
#grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    padding: 20px;

}

#grid-container > div{
    border: 2px solid;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    border-radius: 20px;
    padding: 20px;
}

                /* Order of Operations*/

.operations_body{
    padding-left: 100px;
    padding-right: 100px;
    font-size: 20px;
    padding-bottom: 100px;
}

/* Quiz 1 */
.test1_operation{
    text-align: center;
}

.test1_operation #answer{
    text-align: left;
    padding-left: 23%;
}

.border1{
text-align: left;
width: 650px;
height: 350px;
padding: 10px;
border: 2px solid ;
border-radius: 8px;
margin: auto;
}

input.checkbox{
    transform: scale(1.2);
}

.border1 button{
    color: inherit;
    font-size: 15px;
    border-radius: 8px;
    align-items: center;
}


.check_answers{
    text-align: left;
    width: 260px;
    height: 190px;
    padding: 10px;
    padding-left: 40px;
    border: 2px solid ;
    border-radius: 8px;
    margin: auto;
}

.test1_operation #check_answer{
    text-align: left;
    padding-left: 40%;
}